:root {
  --background-color: #f5f5f5;
  --text-color: #333333;
  --font-size: 16px;
  --font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header */

.header {
  text-align: center;
  margin-bottom: 5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}


/* Main */

.weekdays {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

.monday { grid-area: 1 / 1 / 2 / 2; }
.tuesday { grid-area: 1 / 2 / 2 / 3; }
.wednesday { grid-area: 1 / 3 / 2 / 4; }
.thursday { grid-area: 2 / 1 / 3 / 2; }
.friday { grid-area: 2 / 2 / 3 / 3; }
.sasu { grid-area: 2 / 3 / 3 / 4; }

@media screen and (max-width: 750px) {
  .weekdays {
    display: flex;
    flex-direction: column;
  }
}

/* List Style */

.weekdays {
  gap: 1em;
}

.monday, .tuesday, .wednesday, .thursday, .friday, .saturdaysunday {
  background-color: #fcfcfc;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  justify-content: space-between;
  max-width: 190px;
}

.input-container input {
  padding: 0.1em;
  font-family: var(--font-family);
}

.addButton {
  margin-left: 1em;
  border: none;
  background-color: #d3e9ff;
  padding: 0.2em 0.5em;
}

.addButton:active {
  background-color: #a3c4ff;
}

.todo-list {
  list-style: none;
  padding-left: 0;       /* Removes default left padding */
  margin-left: 0;  
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listvalue {
  font-size: 0.8rem;
}

span {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: blue
}

@media screen and (max-width: 750px) {
  .weekdays {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
}

